.header {
  background-color: rgb(26, 37, 53);
  /* border-bottom: 1px solid rgb(58, 62, 71); */
  text-align: center;
  color: aliceblue;
  padding: 10px;
  position: fixed;
  left: 0px;
  top: 0px;
  height:80px;
  width: 100%;
  overflow: hidden;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.headlogo{
    height: 150%;
      margin-top: -160px;
      margin-left: -120px;
     }
.headclock{
  display:fixed;
  font-family:  sans-serif;
  font-style:italic;
 color:#7c7c7e;
 
    margin-right: 20px;
  
       margin-top: 10px;

     }
.headtext{
  display:fixed;
        font-family:  sans-serif;
       color:#7c7c7e;
       font-size: 30px;
    /* margin-right: 40px; */
    margin-left: -1700px;
    margin-top: 10px;
 
     }
     .first{
     padding: 10px;
     }
     .second{
      padding: 10px;
      }
    
      .burg{
    margin-top: 15px;
    margin-left: 20px;
    color:  rgb(26, 37, 53);
      }
      .toggle {
        /* border: 1px solid rgb(130, 130, 131); */
        width: 15%;
        height:81%;
        padding: 20px;
        margin-bottom: 10px;
        background-color: #fff;
      }
      .sidebar {
        border: 1px solid rgb(130, 130, 131); 
          width: 15%;
        height:100%;
      
        background-color: rgb(130, 130, 131);
      }