.sidebar {
  border: 1px solid rgb(130, 130, 131); 
    width: 15%;
  height:100%;

  background-color: rgb(130, 130, 131);
}
.sidenav{
    color:rgb(145, 148, 153);

    font-size: 20px;
      //  font-family: Lato, sans-serif;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
  }
  .navh{
    width: 250px;
    height: 79px;
  margin-top: -20px;
    background:  rgb(26, 37, 53);
   margin-left: -20px;
  }
  .navhead{
      padding: 28px;
    display:flex;
color: rgb(179, 180, 182);
  }
  .btncross{
    margin-left: 40px;
    color: red;

  }
  .container {
    margin-left: -20px;
    width: 100%;
    
    display:flex;
 
 
  }
  .container:hover {
  
    width: 300px;
    background:  rgb(18, 26, 37);
    display:flex;
 margin-left: -20px;

 
  }
  .nav{
    padding: 20px;
    margin-left: 20px;
  }
  .navtext{
  
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
   
  }